
.main_container,.sub_sub_containers {border: 2px solid  rgb(31, 72, 255); display: flex; justify-content: space-between;background-color: #f9f9f9cc;border-radius: 15px;}
@media (max-width: 800px) {.main_container {flex-direction: column;}}
@media (min-width: 800px) {.sub_containers {width: 50%}}
p {margin-left: 5%; margin-top: 5%;color:rgb(31, 72, 255)}
div > a {color: whitesmoke !important; margin-right: 1%;}
div > a:hover { border: 2px solid rgb(244, 249, 255) ; margin: 4px; border-radius: 10px; color: rgb(31, 72, 255) !important;}
#sticky {position: sticky;top: 0;padding: 5px;}
.sub_containers {padding: 2%;overflow-y: hidden;}
.teckstackhead {margin: 1%;}
.list , .listinlist {margin: 5%; font-size: 1.2em;}
@media (max-width: 1000px) { .card{ width:98% !important ;} #image-1{ display: none;}  button{ width: 90% !important}  li {text-align: center;} .teckstackhead{text-align: center;} body{background-size: 100%;}}
ul {color:rgb(31, 72, 255)}
li {text-align: center;} 
.teckstackhead{text-align: center;font-size: 2.5em;}
button { width: 25%;}
@media (min-width:1921px){body {width: 1920px; margin-left: 10%;}}
